$gray-50: #fbfbf4;
$gray-100: #f6f6ef;
$gray-200: #F1EDEA;
$gray-300: #e4e3dd;
$gray-400: #c1c1ba;
$gray-500: #a2a29c;
$gray-600: #797973;
$gray-700: #65645f;
$gray-800: #464540;
$gray-900: #24241f;
$gray-deep: #11120f;

$accent: #f2ff00;
$accent-text: black;
