@import "../_Colors.scss";

Controls {
    position: absolute;
    top: 120px;
    left: 50px;
    padding: 10px 20px;
    flex-direction: column;
    border-radius: 10px;
    background-color: $hud-background;
    border: 2px solid rgba( black, 0.4 );
    min-width: 250px;

    .title {
        font-size: 20px;
    }

    .control {
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
